# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29
jupyter

# data science
numpy
pandas
scikit-learn
tensorflow
xgboost
statsmodels

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor

# WAV file packages
librosa
scipy #scipy.io.wavfile
IPython #play audio files
soundFile
wave
sounddevice
#pyaudio
wavio
libportaudio2


#data viz
matplotlib
seaborn
plotly


# frontend
streamlit
